{% extends "orders/base.html" %}
{% load static %}

{% block title %}
    Menu
{% endblock %}

{% block include %}
    <link rel="stylesheet" href="{% static 'orders/menu.css' %}"/>
    <script src="{% static 'orders/menu.js' %}"></script>
    <script>
        let menu = {{ menu | safe}};
    </script>
{% endblock %}

{% block body %}
    <div class="container col-lg">

        <div class="list-group">
            {% for item in menuInfo %}
                <a class="list-group-item list-group-item-action" data-value="{{ item.pk }}">
                    {{ item }}
                </a>
            {% endfor %}
        </div>

    </div>



{% endblock %}
